.from-conteint{
    display: flex;
    margin-top: 20px;
}
form input{
    margin: 10px;
    width: 100%;
    padding: 5px 2px;
    border-radius: 5px;
    border: 2px dotted #ddd;
}
form{
    padding: 20px;
    width: 100%;
}
.weidth-containt{
    width: 30%;
    margin: 0 20px;
}
.weidth-containt select{
    margin: 10px;
    width: 100%;
    padding: 5px 2px;
    border-radius: 5px;
    border: 2px dotted #ddd;
}
.button-containt{
    text-align: right;
}
.button-containt button{
    width: 20%;
    padding: 5px 10px;
    color: #fff;
}